main{
    min-height: 90vh;
    height: 100%;
}

button a {
    color: white;
}
button a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


/* ############ HEADER BACKGROUND ############ */
.header:before{
    background: url("/storage/img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "  ";
    /* left: -43%; */
    z-index: -100;
}
.header{
    /* box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%); */
    position: relative;   
}
.header-home:before{
    transform: rotate(20deg);
    width: 327px;
    height: 333px;
}
.header-itSpecialists:before{
    transform: rotate(340deg);
    width: 297px;
    height: 303px;
}
.header-companies:before{
    top: 15%;
    transform: rotate(350deg);
    width: 297px;
    height: 303px;
}

.nav-item-border{
    border: 1px solid #563e7d;
    border-radius: 5px;
}


